body {
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(to right, #ff7e5f, #feb47b);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.todo-container {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    width: 300px;
    text-align: center;
}

.todo-container h1 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
}

#todo-input {
    width: calc(100% - 20px);
    padding: 10px;
    border: 2px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
    margin-bottom: 10px;
    box-sizing: border-box;
    transition: border-color 0.3s;
}

#add-button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #ff7e5f;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#add-button:hover {
    background-color: #feb47b;
}

#todo-list {
    list-style: none;
    padding: 0;
    margin-top: 20px;
}

.todo-item {
    background: #f9f9f9;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    transition: background 0.3s;
}

.todo-item span {
    flex: 1;
    text-align: left;
    padding-left: 10px;
}

.todo-item.completed {
    background: #d3ffd3;
    text-decoration: line-through;
    color: #999;
}

.delete-button, .edit-button {
    background: none;
    border: none;
    color: #ff7e5f;
    cursor: pointer;
    font-size: 16px;
    margin-left: 5px;
}

.edit-button {
    color: #ffa07a;
}
